<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      G00472904
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-input label="Search" placeholder="Movie Name" [(ngModel)]="keyword"></ion-input>

  <ion-button expand="block" (click)="openMovies()">
    SEARCH
  </ion-button>

  <h2 style="margin-top: 20px; text-align: left;">Today's Trending Movies</h2>

  <ion-list>

    <div *ngFor="let movie of movies">

      <div class="movie-card" (click)="openMovie(movie)">

        <ion-icon 
          [name]="isFavourite(movie) ? 'heart' : 'heart-outline'"
          class="fav-icon"
          (click)="toggleFavourite(movie); $event.stopPropagation()">
        </ion-icon>

        <img 
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
          class="movie-poster"
        />

        <h2>{{ movie.title }}</h2>

        <p class="movie-description">
          {{ movie.overview }}
        </p>

      </div>

      <ion-item-divider class="movie-separator"></ion-item-divider>

    </div>

  </ion-list>

</ion-content>